@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-email-delete {
    opacity: 0;
}

.email-row:hover + .btn-email-delete, .btn-email-delete:hover{
    opacity: 1;
}

.new-row-animated {
    height: 2.5rem;
    opacity: 1;
    animation: newrow 0.5s ease-out;
}

@keyframes newrow {
    from {
        opacity: 0;
        padding-top: 0rem;
        padding-bottom: 0rem;
        height: 0;
    }
  }